{% extends "layout.html" %}
{% block title %} Add book {% endblock %}
{% block link %} 
	<a href="{{ url_for('manager_books')}}"> Back </a>
{% endblock %}
{% block body %}
	<h2> Add book </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif %}
	<form action="" method=post>
	  <dl>
	    <dt>ISBN: </dt>
	    <dd><input type=text name=id size=30> </dd>
	    <dt>Title:</dt>
	    <dd><input type=text name=name size=30> </dd>
	    <dt>Author:</dt>
	    <dd><input type=text name=author size=30> </dd>
	    <dt>msg1:</dt>
	    <dd><input type=text name=company size=30> </dd>
	    <dt>msg2:</dt>
	    <dd><input type=text name=date size=30> </dd>
	  </dl>
	  <div class=actions>
	    <input type=submit value="Add">
	  </div>
	</form>

{% endblock %} 
