{% extends 'layout.html' %}
{% block title%} Books Ma {% endblock %}
{% block link%} 
	<a href="{{ url_for('manager')}}"> Back </a> | 
	<a href="{{ url_for('manager_books_add') }}"> Add </a> |
	<a href="{{ url_for('manager_books_delete') }}"> Delete </a> 
{%  endblock%}
{% block body%}
	<h2> Books Manage </h2>
	<table width="600" border="1", align="center">
	  <tr>
	    <th align="center"> ISBN </th>
	    <th align="center"> Title </th>
	    <th align="center"> Author</th>
	    <th align="centet"> msg1 </th>
	    <th align="center"> msg2 </th>	
	    <th align="center"> Detail </th>
	  </tr>
	  {% for book in books%}
	  <tr>
	    <th align="center"> {{book.book_id}}</th>
	    <th align="center"> {{book.book_name}} </th>
	    <th align="center"> {{book.author}}</th>
	    <th align="centet"> {{book.publish_com}} </th>
	    <th align="center"> {{book.publish_date}}</th>
	    <th align="center"> <a href="{{ url_for('manager_book', id=book.book_id)}}"> Click </a> </th>
	  </tr>
	  {% endfor %}
	</table>
{% endblock%}
